html{
	overflow-x: hidden; /* скрытие ползунка по горизонтали*/
}
body { font-size: 14px; font-family: 'Raleway', sans-serif; overflow-x: hidden;}
/**/

[class*="-section"] { overflow: hidden; }
img { max-width: 100%; }

a { outline: 0 !important; }

.ow-section { padding-bottom: 100px; }
.ow-section-top-padding { padding-top: 100px; }
.ow-background { background-repeat: no-repeat; background-size: 100% 100%; }

.ow-background-no-size { 
	background-repeat: no-repeat;
}

.no-padding {
	padding: 0;
}
.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.post-date{
	font-family: 'Roboto', sans-serif;
}

.section-header h2,
.block-title,
.slider-section .slide-title,
.slider-section .slide-sub-title,
.goto-next,
.menu-block .navbar-nav > li > a,
.service-section .service-bg > h3,
.features-section h2,
.why-choose h2,
.portfolio-categories > li > a,
.shape-content h3,
.app-updates h4,
.start-project h2,
.start-project a,
.send-msg h2,
.send-msg a ,
.statistics-section  h1,
.popup-heading h1,
.header-top h1,
.entry-cover .entry-title,
.back-home a,
.single-social a,
.sub-title-heading,
.comment h3,
.comment .media-list .media-body .media-heading,
.add-comment h2,
.add-comment .comment-form input,
.research.shape-content h3,
.date h2,
.by-admin p,
.comment .media-list .media a ,
.heading {
	font-family: 'Montserrat', sans-serif;
}
.section-header h2,
.block-title,
.slider-section .slide-title,
.slider-section .slide-sub-title,
.goto-next,
.menu-block .navbar-nav > li > a,
.service-section .service-bg > h3,
.features-section h2,
.why-choose h2,
.app-updates h4,
.start-project h2,
.start-project a,
.send-msg h2,
.send-msg a,
.statistics-section  h1,
.header-top h1,
.back-home a,
.entry-cover .entry-title,
.single-social a,
.sub-title-heading,
.comment h3,
.comment .media-list .media-body .media-heading,
.add-comment h2 {
	font-weight: bold;
}

.service-section .service-bg > h3,
.header-top h1,
.popup-heading h1,
.post-date .entry-date,
.back-home a,
.add-comment .comment-form .form-submit input  {
	text-transform: uppercase;
}

.block-title {
	font-size: 18px;
}


.features-section h2 {
	color: #fff;
	margin: 0;
}

/* ## Section Header ## */
.section-header {
	padding-top: 100px;
	padding-bottom: 50px;
}

.section-header h2,
.features-section h2{
	font-size: 48px;
	text-transform: uppercase;
}
.section-header h2 {	
	display: block;
	text-align: center;
	margin: 0;
}

.service-box-inner .content-box > h3,
.service-box-inner .content-box > p {
	color: #333;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
	background-color: transparent;
	color: #000;
}
/* ## Services Section ## */
.service-section {
	padding: 110px 0;
	position: relative;
}

.service-bg {
	text-align: center;
	margin: 0 auto;
	position: absolute;
	left: 0;
	right: 0;
	margin-top: 34px;
}

.service-section .service-bg > h3 {
	color: #fff;
	position: absolute;
	top: 49%;
	left: 0;
	right: 0;
	margin: 0 auto;
	font-size: 36px;
}

.service-section .col-md-6 {
	position: relative;
	padding: 0 20px;
}
.service-section .col-md-6:nth-child(4) {
	right: 117px;
	margin: 43px 0;
}

.service-section .col-md-6:nth-child(5) {
	left: 117px;
	margin: 43px 0;
}
.btn-buy{
	position: absolute;
	top: 50%;
	left: 50%;
	margin: 0 auto;
	border-radius: 50px;
	font-size: 30px;
	margin-top: 300px;
	margin-left: -215px; 
}
.btn-red{
	background: #E73D39;
	color: white;
}
}
.service-box-inner {
	display: inline-block;
	cursor: pointer;
}
.service-box-inner .content-box {
	margin: 30px 0;
}
.service-box-inner .content-box > h3 {
	text-transform: uppercase;
	margin-top: 0;
}

.service-box-inner .content-box > p {
	font-size: 16px;
	line-height: 25px;
}

.service-box-inner .icon-srv {
	width: 141px;
	height: 141px;
	background-color: #ebebeb;
	border: 7px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 130px;
	font-size: 48px;
	color: #666;
	display: inline-block;	
	position: relative;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.service-section .col-md-6:nth-child(even) > .service-box-inner{
	text-align: right;
}

.service-box-inner:hover .icon-srv {
	background-color: #e64c3d;
	color: #fff;
}

.service-box-inner .icon-srv:after {
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	content: '';
	-webkit-box-sizing: content-box; 
	-moz-box-sizing: content-box; 
	box-sizing: content-box;
	top: -2px;
	left: -2px;
	padding: 2px;
	z-index: -1;
	background: #fff;
	-webkit-transition: -webkit-transform 0.2s, opacity 0.3s;
	-moz-transition: -moz-transform 0.2s, opacity 0.3s;
	transition: transform 0.2s, opacity 0.3s;
}

.service-box-inner .icon-srv:before {	
	display: block;
	-webkit-font-smoothing: antialiased;
}

.service-box-inner .icon-srv:after {
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-ms-transform: scale(1.3);
	transform: scale(1.3);
	opacity: 0;
}

.service-box-inner:hover .icon-srv:after {
	-webkit-transform: scale(1);
	-moz-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
	opacity: 1;
}

/* ## Features Section ## */

.features-section {
	background-color: #6B5150;
	background-size: 100% 100%;
	display: inline-block; 
	width: 100%;
	padding: 112px 0;
	position: relative;
	perspective-origin: 0 0;
}

.features-section:before {
	width: 56%;
	position: absolute;
	height: 100%;
	top: 0;
	overflow: visible;
	border-top: 1026px solid rgba(231,76,60,0.90);
	border-bottom: 0px solid rgba(231,76,60,0.90);
	border-left: 0px solid transparent; 
	border-right: 260px solid transparent;
	content: "";
}

.features-section .col-md-7 {
	padding-right: 0;
	z-index: 2;
}

.features-section h2 {
	text-align: right;
	margin-right: 35px;
}

.feature-box{
	transform: skew(-15deg);
	-webkit-transform: skew(-15deg); 
	-moz-transform: skew(-15deg); 
	-o-transform: skew(-15deg);
	position: relative;
	z-index: 9;
}

.feature-box-inner {
	text-align: right;
	display: inline-block;
	width: 100%;
	margin-top: 81px;
	margin-left: 30px;
	cursor: pointer;
}

.feature-box-inner .icon-feature {
	width: 100px;
	height: 100px;
	background-color: #fff;
	display: inline-block;
	border-radius: 50%;
	text-align: center;
	line-height: 100px;
	font-size: 36px;
	color: #e74c3c;
	transform: skew(15deg);
	-webkit-transform: skew(15deg); 
	-moz-transform: skew(15deg); 
	-o-transform: skew(15deg);
	position: relative;
	z-index: 9;
}

.feature-box-inner h3 {
	margin-top: 15px;
	text-transform: uppercase;
}
.feature-box-inner p {
	font-size: 16px;
}
.feature-box-inner h3,
.feature-box-inner p {
	transform: skewX(15deg);
	-webkit-transform: skew(15deg); 
	-moz-transform: skew(15deg); 
	-o-transform: skew(15deg);
	color: #fff;
}

.feature-box-inner .col-md-4 {
	text-align: left;
}

.feature-box-inner:hover .icon-feature {
	background-color: #e74c3c;
	color: #fff;
	border: 2px solid #fff;
	line-height: 98px;
}

.bag_feature {
	width: 950px;
	height: 400px;
	padding-right: 350px;
	margin-top: 190px;
}
.line
{
	position: absolute;
	right: 0;
	left: 125px;
}

.line hr{
	border-top: 2px solid #fff;
	height: 2px;
	position: absolute;
	display: inline-block;
}

.line i {
	width: 16px;
	height: 15px;
	display: inline-block;
	background-color: #fff;
	border-radius: 50%;
	transform: skew(15deg);	
	position: absolute;
}

.feature-box-inner:hover .line > i {
	background-color: #e74c3c;
	border: 2px solid #fff;
}

.line.lightbulb {
	transform: rotate(16.5deg);
	-webkit-transform: rotate(16.5deg);
	-moz-transform: rotate(16.5deg);
	-o-transform: rotate(16.5deg);
}

.line.lightbulb hr {
	top: -15px;
	left: 0;
	width: 500px;
	right: -750px;
}

.line.lightbulb i {
	top: -2px;
	right: -375px;
}

.line.house {
	transform: rotate(5deg);
	-webkit-transform: rotate(5deg);
	-moz-transform: rotate(5deg);
	-o-transform: rotate(5deg);
}

.line.house hr {
	top: 15px;
	left: 0px;
	width: 450px;
	right: -805px;
}

.line.house i {
	top: 29px;
	right: -380px;
}

.line.gift {
	transform: rotate(-15deg);
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
}

.line.gift hr {
	top: 100px;
	left: 0;
	width: 375px;
	right: -600px;
}

.line.gift i {
	top: 115px;
	right: -240px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

.line.camera {
	transform: rotate(-30deg);
	-webkit-transform: rotate(-30deg);
	-moz-transform: rotate(-30deg);
	-o-transform: rotate(-30deg);
}

.line.camera hr {
	top: 135px;
	left: 0;
	width: 420px;
	right: -590px;
}

.line.camera i {
	top: 148px;
	right: -250px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
}

/* ## Our Work ## */
.our-work {
	width: 100%;
	display: inline-block;
}
.portfolio-categories { 
	margin-bottom: 50px; 
	text-align: center; 
	padding-left: 0; 
}

.portfolio-categories > li  { 
	display: inline-block; 
	margin: 0; 
}

.portfolio-categories > li > a { 
	display: inline-block; 
	color: #666; 
	padding: 17px 22px;
	text-transform: uppercase; 
}

.portfolio-categories > li > a:focus { 
	text-decoration: none; 
}

.portfolio-categories > li > a:hover, 
.portfolio-categories > li > a.active
{ 
	color: #fffefe;
	text-decoration: none;
	background-color: #e74c3c;
}
.portfolio-list { 
	width: 100%; 
	padding: 0; 
	list-style: none; 
	margin-bottom: 0;
}

.no-space.portfolio-list li { 
	padding: 0;
}

.portfolio-list li { 
	display: inline-block;
	margin: 0; 
}

.portfolio-image-block {
	position: relative; 
	border: 3px solid #e73d39;
}

.portfolio-block-hover {
	background-color: rgba(231, 76, 60, 0.90); 
	display: none; 
	position: absolute; 
	height: 100%; 
	width: 100%;
	top: 0; 
}

.portfolio-gallery{
	float: left;
}

.portfolio-list.no-space .portfolio-block-hover { 
	padding: 30.5% 0; 
}
.icon-image{
	width: 121px;
	height: 121px;
	background-color: #ebebeb;
	border: 7px solid #fff;
	border-radius: 50%;
	text-align: center;
	line-height: 110px;
	font-size: 80px;
	color: #666;
	display: inline-block;	
	position: relative;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}
.icon-image:hover{
		background-color: #e64c3d;
	color: #fff;
}
.portfolio-title { 
	font-size: 24px; 
	font-weight: bold; 
	color: #fff; 
	text-align: center; 
	line-height: 33px; 
	text-transform: uppercase;
}
.portfolio-block-hover h3 {
	font-weight: 300;
	font-size: 18px;
	text-align: center;
	color: #fff;
}
.portfolio-block-hover h4,
.portfolio-image-block,
.portfolio-title,
.portfolio-image-block:hover > .portfolio-block-hover
{
	display: block;
}

.portfolio-image-block:hover > .portfolio-title,
.portfolio-title:hover, .portfolio-title:focus,
.portfolio-block-hover .entry-meta a
{
	color: #fff;
	text-decoration: none;
}
/* ## How We Work ## */
.how-we-work ul {
	text-align: center;
	margin-bottom: 48px;
	padding-left: 0;
}
#text{
	margin-top: 20px;
}
.how-we-work-categories {
  font-family: 'Montserrat', sans-serif;
  display: flex;
  justify-content: space-between; 
  font-size: 15px;
  color: #333333;
  font-weight: bold;
}

.how-we-work ul li
{
	display: inline-block;
	margin: 0 49px;
}
.how-we-work ul li:before{
	position: absolute;
	height: 0;
	content: "";
	top: 35%;
	left: 80px;
}

.how-we-work ul li:last-child:before {
	display: none;
}


/* ## Map Section ## */
.map-section {
	width: 100%;
	float:left;
	clear: both;
	line-height: 1;
}
.map-section iframe {
	width: 100%;
	height: 702px;
	border: 0 none;
}

/* ## Project Section ## */
.project-section {
	position: relative;
	padding: 130px 0;
	width: 100%;
	float: left;
	top: 0;
	clear: both;
}
.project-section p{
	padding-right: 40px;
}

.project-section:before {
	width: 50%;
	border-bottom: 0 solid #e74c3c; 
	border-top: 600px solid #e74c3c; 
	border-left: 0 solid transparent; 
	border-right: 100px solid transparent; 
	content: "";
	height: 100%;
	top: 0;
	position: absolute;
}

.project-section > .container {
	padding: 0;
}
.start-project,
.send-msg {
	text-align: right;
	color: #fff;
	padding-right: 60px;
	text-transform: uppercase;
	padding-left: 0;
}
.start-project h2,
.send-msg h2 {
	font-size:35px;
	text-align: left;
	margin: 40px 0;
}

.start-project p,
.send-msg p {
	font-size: 18px;
}

.start-project a,
.send-msg a {
	padding: 25px 35px;
	background-color: #fff;
	color: #e74c3c;
	font-size: 30px;
	display: inline-block;
	margin-right: 52px;
	transform:skew(-10deg);
	-webkit-transform: skew(-10deg);
	-moz-transform: skew(-10deg);
	-o-transform: skew(-10deg);
	-ms-transform: skew(-10deg);
}

.start-project a span {
	display: block;
	transform:skew(11deg);
	-webkit-transform: skew(11deg);
	-moz-transform: skew(11deg);
	-o-transform: skew(11deg);
	-ms-transform: skew(11deg);
	text-decoration: none;
}
.start-project a:focus,
.start-project a:hover {
	background-color: #000;
	text-decoration: none;
}

.send-msg {
	color: #333;
	display: inline-block;
	text-align: left;
	transform: skewX(-15deg);
	-webkit-transform: skewX(-15deg);
	-moz-transform: skewX(-15deg);
	-o-transform: skewX(-15deg);
	-ms-transform: skewX(-15deg);
	padding-right: 0;
	margin-left: -10px; 
}
.send-msg h2 {
	margin-left: 20px;
}
.send-msg p {
	margin-left: 35px;
}
.send-msg h2,
.send-msg p{
	transform: skewX(15deg);
	-webkit-transform: skewX(15deg);
	-moz-transform: skewX(15deg);
	-o-transform: skewX(15deg);
	-ms-transform: skewX(15deg);
}

.send-msg a {
	background-color: #333;
	transform: skewX(-11deg);
	color: #fff;
	-webkit-transform: skewX(-11deg);
	-moz-transform: skewX(-11deg);
	-o-transform: skewX(-11deg);
	-ms-transform: skewX(-11deg);
}

.send-msg a span {
	display: block;
	transform: skewX(10deg);
	-webkit-transform: skewX(10deg);
	-moz-transform: skewX(10deg);
	-o-transform: skewX(10deg);
	-ms-transform: skewX(10deg);
}
.send-msg a:focus,
.send-msg a:hover {
	background-color: #E74C3C;
	color: #fff;
	text-decoration: none;
}

/* ## 	FOOTER  ## */

.footer-section {
	float: left;
	width: 100%;
	background-color: #333;
	color: #fff;
	height: 160px;
}
.footer-item {
	width: 300px;
	display:inline-block;
	margin: 50px 0 50px 40px;
}
.footer-section .footer-item i {
	width: 67px;
	height: 67px;
	text-align: center;
	line-height: 63px;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
	margin-right: 18px;
}
#vk{
	width: 67px;
	height: 67px;
	text-align: center;
	line-height: 63px;
	font-size: 18px;
	border: 1px solid #fff;
	border-radius: 50%;
	float: left;
	margin-right: 18px;
}
.footer-inner{
	margin-top: 15px;
}
.footer-section p {
	margin-bottom: 0;
}
.footer-section a{
	color: #fff;
	cursor: pointer;
}
.footer-item-title {
	text-transform: uppercase;
	font-weight: bold;
	font-size: 10px;
	letter-spacing: 2px;
}
.footer-item-desc {
	font-size: 16px;
	font-weight: 300;
}

.back-top {
	color: #fff;
	font-size: 18px;
	font-weight: bold;
	margin-right: 50px;
	line-height: 160px;
}

.back-top i {
	color: #e74c3c;
	font-size: 24px;
}

.back-top:hover {
	text-decoration: none;
}

.back-home {
	line-height: 160px;
	text-align: center;
	margin: 0 auto;
	display: inline-block;
	width: 100%;
}

.back-home a {
	font-size: 24px;
}
.back-home a:hover {
	text-decoration: none;
	color: #E74C3C;
}



/* Light Box */

.light-box .modal-backdrop,
.light-box.modal {
	background-color: rgba(231,76,60,0.90);
	color: #fff;
}

.light-box .modal-dialog  {
	width: 100%;
	margin: 0;
	display: inline-block;
	position: relative;
}
.light-box .modal-header,
.light-box .modal-content ,
.send{
	border: none;
}

.light-box .modal-content {
	background-color: transparent;
	box-shadow: none;
}

.modal.in .modal-dialog {
	transform: translate(0px, 50%);
}

.popup-heading p {
	font-weight: 300;
	letter-spacing: 1px;
    text-transform: uppercase;
}
.popup-heading h1{
	font-weight: 600;
	font-size: 48px;
}

.popup-form {
	display: inline-block;
	width: 100%;
	text-align: center;
}

.popup-form .form-group {
	margin-bottom: 25px;
	padding-left: 0;
}
.popup-form .form-group .form-control {
	font-size: 18px;
	border: none;
	box-shadow: none;
	border-bottom: 2px solid #fff;
	padding: 14px 0;
	border-radius: 0px;
	height: auto;
	background-color: transparent;
	color: #fff;
}
.popup-form .form-group .form-control::-moz-placeholder {
    color: #fff;
}
.popup-form .form-group .form-control::-webkit-input-placeholder {
	color: #fff;
	opacity: 1;
}

.popup-form .form-group .form-control:-ms-input-placeholder {
	color: #fff;
}
.close {
	color: #fff;
	opacity: 1;
}
.send{
	font-size: 36px;
	color: #fff;
	margin-top: 10px;	
	font-weight: 600;
	background-color: transparent;
	
}
.send:hover, 
.send:focus{
	color: #fff;
}

.alert-msg {
	text-align: left;
	background: #ffcac4;
	padding: 5px 10px;
	color: #685654;
	font-size: 12px;
	font-weight: 600;
	display: none;
}
/* новое */

.imac-section-header {
	padding-top: 22px;
}
.video-section {
	height: 400px;
	display: inline-block;
	width: 100%;
	position: relative;
	margin-top: -5px;
}


.imac-section-desc {
    text-align: center;
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    max-width: 400px;
    margin: auto;
    padding-bottom: 40px;
}


.imac-screen {
	margin-right: 20px;
    border-radius: 10px;
	box-shadow:
   0 2px 5px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}

.video-frame{
	 border-radius: 10px;
	box-shadow:
   0 2px 5px rgba(0, 0, 0, .3),
   -23px 0 20px -23px rgba(0, 0, 0, .8),
   23px 0 20px -23px rgba(0, 0, 0, .8),
   0 0 40px rgba(0, 0, 0, .1) inset;
}
/* Отзывы */
.demo{
	width: 100%;
	background: linear-gradient(to top, #ff758c, #ff7eb3);
	padding-top: 40px;
}
.testimonial{
	height: 350px;
    text-align: center;
    margin: 50px 10px 0;
    padding: 0 10% 1%;
    background: #fff;
}
.testimonial .pic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.3);
    display: inline-block;
    margin-top: -50px;
    overflow: hidden;
    box-shadow:0 2px 6px rgba(0, 0, 0, 0.15);
}
.testimonial .pic img{
    width: 100%;
    height: auto;
}
.testimonial .description{
    font-size: 16px;
    font-style: italic;
    color: #808080;
    line-height: 30px;
    margin: 10px 0 20px;
}
.testimonial .testimonial-title{
    font-size: 14px;
    font-weight: bold;
    margin: 0;
    color: #333;
    text-transform: uppercase;
}
.testimonial .post{
    display: block;
    font-size: 13px;
    color: #777;
    margin-bottom: 15px;
    text-transform: capitalize;
}
.testimonial .post:before{
    content: "";
    width: 30px;
    display: block;
    margin: 10px auto;
    border: 1px solid #d3d3d3;
}
.testimonial .testimonial-rating{
    margin: 0 0 15px 0;
    padding: 0;
    list-style: none;
}
.testimonial .testimonial-rating li{
    color: #d3d3d3;
    display: inline-block;
}
.testimonial .testimonial-rating li.fa-star{
    color: #333;
}
.owl-theme .owl-controls{
    margin-top: 30px;
}
.owl-theme .owl-controls .owl-pagination{
    width: 140px;
    padding: 10px;
    margin: 0 auto;
    line-height: 13px;
    background: #fe7f8b;
}
.owl-theme .owl-controls .owl-page span{
    width: 12px;
    height: 12px;
    border-radius: 0;
    background: transparent;
    border: 1px solid #fff;
}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{
    border: 4px solid #fff;
}
/*оплата и доставка*/
.delivery{
	width: 100%;
}
.delivery ul {
	text-align: center;
	margin-bottom: 48px;
	padding-left: 0;
}
.delivery ul li
{
	display: inline-block;
	margin: 0 49px;
}
.delivery ul li:before{
	position: absolute;
	height: 0;
	content: "";
	top: 35%;
	left: 80px;
}

.delivery ul li:last-child:before {
	display: none;
}
.delivery-text-section {
    font-weight: 300;
    font-size: 24px;
    line-height: 40px;
    max-width: 400px;
    margin: auto;
    padding-top: 15px;
}
.delivery-text-section h3{
	font-weight: bold;
}
.delivery-text-section span{
	text-align: left;
}
/* */
.alignleft { float: left; }
.alignright { float: right; }
.aligncenter {
	margin-left: auto;
	margin-right: auto;
	display: block;
	clear: both;
}
.centered {text-align: center}
.mt {margin-top: 50px;}
.mb {margin-bottom: 50px;}
.mtb {margin-top: 50px; margin-bottom: 50px;}
.mtb2 { margin-top: 100px; margin-bottom: 100px;}
.ptb {padding-top: 80px; padding-bottom: 80px;}

.clear {
	clear: both;
	display: block;
	font-size: 0;
	height: 0;
	line-height: 0;
	width:100%;
}

.subscribe-input {
	float: left;
	width: 65%;
	text-align: left;
	margin-right: 2px;
}

.subscribe-submit {
	right: 0;
}


.btn-register {
	margin-top: 15px;
	border-radius: 50px;
	margin-right: 10px;
	top: 0px;
	float: right;
	font-size: 16px;
}

.btn-sub {
	border-radius: 50px;
}

/* Overall Buttons*/
.btn-theme {
	border-radius: 50px;
	font-size: 14px;
	padding-left: 15px;
	padding-right: 15px;
}

.btn-white {
	background: white;
	color: #E73D39;
}

.btn-white:hover {
	background: #E73D39;
	color: white;
}

/* Blue Section - Picton */

#picton {
	background: linear-gradient(to top, #ffecd2, #fcb69f);
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}
#picton img{
	margin-left: 20px;
}

#picton .col-md-6 {
	padding-left: 0px;
}

#picton p {
	color: white;
	font-size: 16px;
}

/* Blue Section - Curious */
#curious {
	background: linear-gradient(to bottom, #feada6, #f5efef);
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#curious .col-md-6 {
	padding-right: 0px;
}

#curious p {
	color: #e9e9e9;
	font-size: 16px;
}

/* FOOTER */
#f {
	background: #2f2f2f;
	width: 100%;
	padding-top: 100px;
	padding-bottom: 100px;
	color: white;
}

#f p {
	color: white;
}

#f h4 {
	font-weight: 400;
	text-align: center;
	font-size: 24px;
}

/* CREDIT */
#c {
	background: black;
	padding: 20px;
}

#c p {
	color: white;
	font-size: 13px;
}
/*счетчик*/
#clockdiv{
	position: relative;
	padding-left: 180px;
	bottom: 10px;
	top: 550px;
	color: #fff;
	font-weight: 100;
	text-align: left;
	font-size: 30px;
}

#clockdiv > div{ /*внешний div*/
	padding: 10px;
	border-radius: 3px;
	background: #FF6E40;
	display: inline-block;
}

#clockdiv div > span{
	color: #FF6E40;
	padding: 15px;
	border-radius: 3px;
	background: #fff;
	display: inline-block;
}

.smalltext{
	text-align: center;
	padding-top: 5px;
	font-size: 16px;
}
/*форма */
.containers {
	left: 180px;
	top: -100px;
	bottom: 10px;
  width: 350px;
  position: relative;
}

#contact1 input[type="text"],
#contact1 input[type="email"],
#contact1 input[type="tel"],
#contact1 textarea,
#contact1 button[type="submit"] {
  font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
}

#contact1 {
  background: #F9F9F9;
  padding: 25px;
  margin: 150px 0;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#contact1 h3 {
  display: block;
  font-size: 30px;
  font-weight: 300;
  margin-bottom: 10px;
}

#contact1 h4 {
  margin: 5px 0 15px;
  display: block;
  font-size: 13px;
  font-weight: 400;
}

fieldset {
  border: medium none !important;
  margin: 0 0 10px;
  min-width: 100%;
  padding: 0;
  width: 100%;
}

#contact1 input[type="text"],
#contact1 input[type="email"],
#contact1 input[type="tel"],
#contact1 textarea {
  width: 100%;
  border: 1px solid #ccc;
  background: #FFF;
  margin: 0 0 5px;
  padding: 10px;
}

#contact1 input[type="text"]:hover,
#contact1 input[type="email"]:hover,
#contact1 input[type="tel"]:hover,
#contact1 textarea:hover {
  -webkit-transition: border-color 0.3s ease-in-out;
  -moz-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
  border: 1px solid #aaa;
}

#contact1 textarea {
  height: 100px;
  max-width: 100%;
  resize: none;
}

#contact1 button[type="submit"] {
  cursor: pointer;
  width: 100%;
  border: none;
  background: #4CAF50;
  color: #FFF;
  margin: 0 0 5px;
  padding: 10px;
  font-size: 15px;
}

#contact1 button[type="submit"]:hover {
  background: #43A047;
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

#contact1 button[type="submit"]:active {
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.copyright {
  text-align: center;
}

#contact1 input:focus,
#contact1 textarea:focus {
  outline: 0;
  border: 1px solid #aaa;
}

::-webkit-input-placeholder {
  color: #888;
}

:-moz-placeholder {
  color: #888;
}

::-moz-placeholder {
  color: #888;
}

:-ms-input-placeholder {
  color: #888;
}